<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.om.mapper.EngineerMapper" >
    <update id="update" parameterType="com.om.pojo.entity.Engineer">
        update engineer
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="list" resultType="com.om.pojo.entity.Engineer">
        select * from engineer
        <where>
            <if test="name != null">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="engineerNo != null">
                and engineer_no like concat('%', #{engineerNo}, '%')
            </if>
        </where>
        order by id asc
    </select>
</mapper>